html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #444d8938;
}

body {
  font-size: 16px;
  overflow: auto;
}

button {
  background-color: transparent;
  border: 0;
  font-size: 1.2rem;
}

#tv-sketch {
  position: absolute;
  top: 49.5%;
  left: 7.5%;
  max-width: 80%;
  height: 41%;
  /* background-color: aqua; */
}

#tv-glass-image {
  position: absolute;
  width: 85.6%;
  top: 50%;
  left: 7.5%;
  z-index: 2;
}

.tv-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

img.tv {
  display: block;
  max-width: 96vw;
  max-height: 96vh;
}

canvas {
  -webkit-mask-image: url(assets/tv-screen-mask.svg);
  mask-image: url(assets/tv-screen-mask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
}

.tv-inner {
  position: relative;
}

.tv-text {
  position: absolute;
  /* left: 15%; */
  bottom: -50px;
  font-family: "Courier New", Courier, monospace;
  /* background-color: aliceblue; */
}

.tv-and-remote {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.tv-remote-control {
  background: black;
  padding: 16px;
  border-radius: 16px;
  font-family: cursive;
  align-self: flex-end;
}

.tv-remote-control .spacer-row {
  min-height: 3.125rem;
}

.btn-row {
  display: flex;
  gap: 8px;
}

.tv-remote-control .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.125rem;
  min-height: 3.125rem;
  background: #f9f9f9;
  border-radius: 4px;
  font-family: cursive;
}

.tv-remote-control .btn:hover {
  cursor: pointer;
}

.tv-remote-control .btn.btn-round {
  border-radius: 44px;
}

.tv-remote-control .btn-segmented {
  /* background-color: #6ecaff; */
  background-color: #fff;
  border-radius: 4px;
}

.tv-remote-control .btn-segment {
  min-width: 44px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 1.4rem;
}

.tv-remote-control .btn-segment-text {
  text-align: center;
}

.tv-remote-control .volume-channel-row {
  display: flex;
}

.tv-remote-control-digits {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tv-remote-control .btn-power-on-off {
  background-color: red;
}

.tv-remote-control .btn-mute {
  background-color: gray;
}

.tv-remote-control .spacer {
  flex: 1;
  min-width: 44px;
}
